body {
	font-size: 12px;
	font-weight: 500;
	cursor: default;
  font-family: "Open Sans", sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.card {
  text-align: center;
    box-shadow: 2px 1px 10px 0px #D0D0D0 inset;
    width: 19vw;
    margin: .5vw;
}

.bar {
	fill: #808080;
  opacity: .5;
}

.bar:hover {
	fill: #808080 ;
  opacity: .9;
}

.fill-turquoise {
  fill: #00A0B0;
}

.fill-yellow {
  fill: #EDC951;
}

.x.axis path {
	display: none;
}

.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}

#pattern1,#pattern2,#pattern3,#pattern4{
	width: 100%;
	display:inline-flex;
	flex:auto;
}

/* #radarChart1, #radarChart2, #radarChart3, #radarChart4, #radarChart5,
#radarChart6, #radarChart7, #radarChart8, #radarChart9, #radarChart10,
#radarChart11, #radarChart12, #radarChart13, #radarChart14, #radarChart15,
#radarChart16, #radarChart17, #radarChart18, #radarChart19, #radarChart20{
	margin-right: 10%;
	position: relative;
	width:10%;
} */

.legend {
	font-size: 10px;
}

.tooltip {
	fill: #333333;
}
